$colorb: #00a0e9;
$colorf: #fff;
$color9: #999;
$color6: #666;
$color3: #333;
$color0: #000;
$colorfa: #fafafa;
$colorp: #ffecf2;
$colororg: #f6bcb5;
body {
  overflow-x: hidden;
  overflow-y: scroll;
  width: 100%;
  color: $color0;
  font-size: 14px;
  line-height: 1.5;
}
body,
dd,
dl,
dt,
form,
h1,
h2,
h3,
h4,
h5,
li,
ol,
p,
ul {
  margin: 0;
  padding: 0;
}
li,
ol,
ul {
  list-style: none;
}
img {
  max-width: 100%;
  border: none;
}
a {
  color: $color3;
}
a:hover {
  text-decoration: none;
  color:#00a0e9
}
input,
textarea,
select,
* {
  outline: none;
}
.text-center {
  text-align: center;
}
.text-left {
  text-align: left;
}
.text-right {
  text-align: right;
}
.nowarp {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
.line2,
.line4,
.line3 {
  text-overflow: -o-ellipsis-lastline;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  line-clamp: 2;
  -webkit-box-orient: vertical;
}
.line3 {
  -webkit-line-clamp: 3;
  line-clamp: 3;
}
.line4 {
  -webkit-line-clamp: 4;
  line-clamp: 4;
}
.flex {
  display: flex;
  flex-wrap: wrap;
}
.flex-center {
  align-items: center;
  justify-content: center;
}
.hidden {
  display: none;
}
.w100 {
  width: 100%;
  max-height: 100%;
}
.maxh100 {
  max-height: 100%;
}
.fon36{ font-size: 36px;}
.fon32{ font-size: 32px;}
.fon30 {
  font-size: 30px;
}
.fon26 {
  font-size: 26px;
}
.fon24 {
  font-size: 24px;
}
.fon22 {
  font-size: 22px;
}
.fon20 {
  font-size: 20px;
}
.fon18 {
  font-size: 18px;
}
.fon16 {
  font-size: 16px;
}
.fon14 {
  font-size: 14px;
}
.fon12 {
  font-size: 12px;
}
.trans {
  transition: 0.3s linear all;
}
.show {
  display: block !important;
}
.hide {
  display: none !important;
}
.positionr {
  position: relative;
}
.positionb {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
}
.visible-hidden {
  visibility: hidden;
}
.color9 {
  color: $color9;
}
.color6 {
  color: $color6;
}
.color3 {
  color: $color3;
}
.padding40 {
  padding-bottom: 40px;
  padding-top: 40px;
}
.overflow-hidden {
  overflow: hidden;
}

.fonar {
  font-family: Arial, Helvetica, sans-serif;
}

/*图片翻转动画*/
.transy {
  cursor: pointer;
}
.transy img,
.transy i {
  transition: ease-in-out 0.3s;
}
.transy:hover img,
.transy:hover i {
  transform-style: preserve-3d;
  transform: rotateY(180deg);
}
/*图片放大*/
.scale {
  overflow: hidden;
}
.scale img,
.scale .scales div {
  transition: 0.5s linear all;
}
.scale:hover img,
.scale:hover .scales div {
  transform: scale(1.1);
}
.swiper-slide {
  cursor: pointer;
}
.flex-nowarp {
  flex-wrap: nowrap;
}
.flex-end {
  align-items: center;
  justify-content: flex-end;
}
.flex-al-center{align-items: center;}

// nav

header {
	width: 260px;
	height: 100vh;
	background-color: #ffffff;
	box-shadow: 0px 0px 10px 0px 
		rgba(0, 0, 0, 0.1);
  padding:60px 60px;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 2;
  nav a{ color: $color3;}
  nav li{ margin: 30px 0 0; position: relative;}
  nav li::before{content: ''; width: 3px; height: 90%;position: absolute; left: -15px; top: 5%; transition: .2s linear all; opacity: 0; transform: translateX(-100%);}
  nav li.active::before,nav li:hover::before{  background: #00a0e9;   opacity: 1;transform: translateX(0);}
  nav li.active a,nav li:hover a{ color: #00a0e9;}
  .logo{ margin-bottom: 230px;}
  nav a:hover{ color: #00a0e9;}
}
.main{ width: 100%; min-height: 100vh; padding-left:260px ; text-align: justify; padding-top: 60px; padding-bottom: 60px;}
.about-con{padding: 60px 0;}
.w40{ width: 46%;  padding: 0 3%; overflow-y: auto;height: 100vh; }
.w60{ width:calc(100% - 52% - 60px) ; position: fixed; top: 0; right: 0;}
h3{ font-weight: normal;}
.w40::-webkit-scrollbar {/*滚动条整体样式*/
  width: 5px;     /*高宽分别对应横竖滚动条的尺寸*/
  height: 1px;
}
.w40::-webkit-scrollbar-thumb {/*滚动条里面小方块*/
  border-radius:5px;
   -webkit-box-shadow: inset 0 0 5px rgba(0,0,0,0.2);
  background: #888;
}
.w40::-webkit-scrollbar-track {/*滚动条里面轨道*/
  -webkit-box-shadow: inset 0 0 5px rgba(0,0,0,0.2);
  border-radius: 5px;
  background: #EDEDED;
}

/*contact*/
.conact{
  background: url(../images/contact-bg.jpg) no-repeat; background-size: cover;  justify-content: center; 
  .contact-box{ width: 80%; min-height: 80vh; background: rgba(255, 255, 255, 0.8); padding: 0 30px; }
  .txt{ border: 1px solid #666; padding: 5px 10px; height: 51px; background: transparent; margin-bottom: 25px;}
  .txt.h60{ height: 80px; resize: none;}
  .btn{ height: 51px; background: #00a0e9; color: #fff; border: 0; transition: .3s linear all;}
  .btn:hover{ background: #0190d2;}
  
} 
.padding-l30{ padding-left: 30px;}
.padding-r30{ padding-right: 30px;}
.padding-b30{ padding-bottom: 30px;}
.sheyingshi{
  a{ display: block;}
  .list li{ width: 20%; padding: 0 15px; margin-bottom: 30px; overflow: hidden;}
  .name{ height: 73px; padding: 5px; text-align: center; display: flex; align-items: center; width: 100%; justify-content: center; position: relative; }
  .name::after,.name::before{ position: absolute; bottom: 0; width:0; height: 5px; background: #00a0e9; content: '';  transition: .3s linear all;}
  .name::after{left: 50%;}
  .name::before{ right: 50%;}
  .list li .sheying-img{ overflow: hidden;}
  .list li:hover  .name::after,.list li:hover  .name::before{ width: 50%; }
  .list li:hover .scale{ transform: scale(1.15);}
}
.w22{ width: 22%;}
.w78{ width: 78%;}
.border-left{ position: relative; margin-bottom: 20px;}
.border-left::after{ content: ''; width: 5px; height: 100%; position: absolute; left: -30px; top: 0; background: #00a0e9;}
.sheyingshi-img{ margin-bottom: 25px; max-width: 280px;}
.sheyingshi{
  .gallery-thumbs{padding-top: 20px;}
  .swiper-button-next, .swiper-button-prev{ transform: scale(0.7);}
  .swiper-button-next{ right: -40px;}
  .swiper-button-prev{left: -40px;}
}

.tuku-list-tab{
   li{ margin-right: 40px;}
   li a{ position: relative;}
   li a::after, li a::before{content: ''; width:0; height: 3px; background: #00a0e9; transition: .3s linear all; bottom: -5px; position: absolute;}
   li a::after{ right: 50%;}
   li a::before{ left: 50%;}
   li a:hover::after,li a:hover::before,li.active a::after, li.active a::before{ width: 50%;}
  
}
.tuku_list{
  li{ margin-bottom: 30px;}
  a{ display: block;}
  .master{ background: rgba(0, 0, 0, 0.5); justify-content: center; opacity: 0;}
  .share-title{ position: absolute; width: 100%; bottom: 10px; color: #fff; padding: 5px 10px; justify-content: space-between; opacity: 0; transform: translateY(100%);}
  .tu-author{ margin-left: 5px;}
  li:hover .master{ opacity: 1;}
  .icon-scale{transform: translateY(-100%); display: block;}
  li:hover .share-title, li:hover .icon-scale{ opacity: 1;transform: translateY(0);}
  
}
.flex-just-between{ justify-content: space-between;}
.total-img span{ background: url(../images/icon-img.png) no-repeat left center; background-size: 22px 16px; padding-left: 30px;}
.fix-tuku{ background: rgba(0, 0, 0, 0.8); position: fixed;right: 0; top: 0; bottom: 0; left: 0; z-index: 3; transform: scale(0);}
.fix-tuku.active{transform: scale(1);}
.max1145{ max-width: 1145px; margin: 0 auto; width: 100%; }
.max1036{ max-width: 1036px; width: 95%; margin: 0 auto;}
.tuku-swiper{
  .swiper-button-next{ right: -40px;}
  .swiper-button-prev{ left: -40px;}
  .gallery-top{ margin-bottom: 20px;
  }
  .swiper-slide{ border: 5px solid #fff;}
  .gallery-thumbs .swiper-slide {
    height: 100%;
    // opacity: 1;
  }
 
}
.gallery-thumbs .swiper-slide-thumb-active::after {
  display: block; content: ''; width: 100%; height: 100%; position: absolute; left: 0; top: 0; background: rgba(255, 255, 255, 0.5);
}
.close-btn{ position: fixed; right: 30px; top: 50px; z-index: 4;}
.totop{ position: fixed; z-index: 2; left: 60px; bottom: 60px; cursor: pointer;
 .icon{ width: 21px; height: 66px; background: url(../images/icon-top.png)  no-repeat center; display: block;}
}
.totop:hover .icon{background: url(../images/icon-top2.png)  no-repeat center;}
.totop:hover{ color: #00a0e9;}
.margin-b30{ margin-bottom: 30px;}
.padding-tb0{ padding-top: 0; padding-bottom: 0;}

@media (max-width: 1200px) {
  .fon32{ font-size: 28px;}
  .fon18{  font-size: 16px;}
  .fon30{ font-size: 24px;}
  header{ width: 200px; padding-left: 30px; padding-right: 30px;}
  .main{ padding-left: 200px;}
  .sheyingshi{
     .list li{ width: 33.33%; padding: 0 10px; margin-bottom: 20px;}
     .name{ height: 50px;}
    
     .swiper-button-next, .swiper-button-prev{ transform: scale(0.7);}
     .swiper-button-next{ right: 20px;}
     .swiper-button-prev{left: 20px;}
  }
  .tuku-swiper .swiper-button-next{ right: 20px;}
  .tuku-swiper .swiper-button-prev{ left: 20px;}

  .w22{ width:40%;}
  .w78{ width: 60%; padding-left: 10px; padding-right: 10px;
  .padding-r30 { padding-right: 15px;}
  .padding-l30 { padding-left: 15px;}
  }
  .fon24{ font-size: 20px;}
  .conact .contact-box{ width: 90%;  padding: 0 15px;}

}
.layui-flow-more{ width: 100%; text-align: center; clear: both;}
@media (max-width: 1024px) {
  .fon40{ font-size: 25px}
  .fon24{ font-size: 18px;}
  .w22{ width: 100%;}
  .w78{ width: 100%; margin-top: 20px;}
  .ipad-text-center{ text-align: center;}
  .conact .contact-box{ width: 95%;    padding: 0 10px;}
  .conact .txt{ height: 40px;}
  .sheyingshi-img{ margin: 0 auto;}
  .w40{ width: 100%; padding-top: 15px;padding-bottom: 20px; height: auto;}
  .w60{ width: 100%; padding: 0 15px; position: static;}

}
@media (min-width: 768px) {
}
@media (min-width: 992px) {
}
@media (min-width: 1200px) {
  
}
@media (min-width: 1360px) {
 
}

