@media (max-width: 767px) {
  body {
    font-size: 13px;
  }
  .fon36 {
    font-size: 28px;
  }
  .fon32 {
    font-size: 26px;
  }
  .fon30 {
    font-size: 24px;
  }
  .fon26 {
    font-size: 20px;
  }
  .fon24 {
    font-size: 18px;
  }
  .fon22 {
    font-size: 16px;
  }
  .fon20 {
    font-size: 16px;
  }
  .fon18 {
    font-size: 15px;
  }
  .fon16 {
    font-size: 14px;
  }
  .p-text-center {
    text-align: center;
  }
  /*header*/
  header {
    padding: 30px 10px;
    width: 105px;
    transition: .3s linear all;
    transform: translateX(-100%);
  }
  header.active {
    transform: translateX(0);
  }
  header .logo {
    margin-bottom: 60px;
  }
  .main {
    padding-top: 10px;
    padding-left: 0;
    transform: translateX(0);
    transition: .3s linear all;
  }
  .about-con {
    padding: 10px 0;
  }
  .main.active {
    transform: translateX(105px);
  }
  .padding-r30 {
    padding-left: 10px;
  }
  .padding-l30 {
    padding-right: 10px;
  }
  .tuku-list-tab li {
    margin-right: 15px;
  }
  .total-img {
    margin-top: 15px;
    width: 100%;
  }
  .close-btn {
    right: 10px;
    top: 30px;
  }
  .tuku-swiper .swiper-slide {
    border: 3px solid #fff;
  }
  .padding-b30 {
    padding-bottom: 15px;
  }
  .main {
    padding-bottom: 30px;
  }
  .sheyingshi {
    padding: 0 5px;
  }
  .sheyingshi .list li {
    padding: 0 8px;
    width: 50%;
    margin-bottom: 15px;
  }
  .sheyingshi .name {
    height: 30px;
  }
  .sheyingshi .gallery-thumbs {
    padding-bottom: 20px;
  }
  .conact .contact-box {
    padding: 20px 5px;
    width: 90%;
  }
  .conact .contact-box p {
    margin-bottom: 10px;
  }
  .conact .txt {
    height: 35px;
    margin-bottom: 15px;
  }
  .conact .btn {
    height: 35px;
  }
  .title-phone {
    text-align: right;
  }
  .p-just-right {
    justify-content: flex-end;
  }
  .tuku-list-tab li:last-child {
    margin-right: 0;
  }
  .menu-btn {
    position: fixed;
    left: 105px;
    top: 0;
    width: 48px;
    height: 48px;
    background: url(../images/menu.png) no-repeat center #fff;
    background-size: 35px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  }
  .menu-btn.active {
    background: url(../images/close-btns.png) no-repeat center #fff;
    background-size: 35px;
  }
  .w22 {
    width: 100%;
  }
  .w78 {
    width: 100%;
    margin-top: 20px;
    padding-right: 0;
    padding-left: 0;
  }
  .sheyingshi-con {
    text-align: center;
    padding-left: 0;
    padding-right: 0;
  }
  .margin-b30 {
    margin-bottom: 15px;
  }
  .conact {
    padding-top: 0;
    padding-bottom: 0;
  }
  .conact .contact-box {
    width: 100%;
    padding-top: 50px;
    background: rgba(255, 255, 255, 0.65);
    min-height: 100%;
  }
  .row {
    margin-right: 0;
    margin-left: 0;
  }
  .tuku_list li {
    padding-left: 5px;
    padding-right: 5px;
    margin-bottom: 15px;
  }
  .w60 {
    position: static;
  }
  .w40 {
    height: auto;
  }
}
